@import url('https://fonts.googleapis.com/css?family=Lato|Monofett');

.content-header {
	margin-left: 100px; /* Same as the width of the sidenav */
	padding: 0px 10px;
	border: 1px solid black;
}

.header-title {
	letter-spacing: 0.08em;
	font-family: 'Monofett', cursive;
	color: #000000;
	font-size: 4.0em;
	text-align: center;
	font-weight: 100;

	margin: 0 auto;
}
