@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

.figurecard  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
.headline-cards{
    list-style-type: none;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.figurecard  {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  /* overflow: hidden; */
  margin: 10px 1%;
  min-width: 250px;
  max-width: 330px;
  width: 100%;

  color: #000000;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 900px rgba(0, 0, 0, 0.15);
  height: 550px;
  border-radius: 17px;

}

.figurecard  figcaption {
    padding: 220px 20px 30px;
    width: 100%;
    height: 550px;
    position: absolute;
    /* background-color: rgb(231, 219, 219); */
    vertical-align: top;
    left: 0;
    top:0;
    border-radius: 17px;
   

  }


  .image {
    max-width: 100%;
    position: relative;
    overflow: hidden;
    border: 1 px black;
    height: 200px;
    z-index: 1;
    border-radius: 17px;

  }


.figurecard  img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  position: absolute;
  top: 0;
  z-index: 1;
  /* object-fit: none;
  object-position: 100% 100%; */

}



.figurecard  h3,
.figurecard  p {
  margin: 0;
  padding: 0;
}

.figurecard  h3 {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 800;
}

.figurecard  p {
  font-size: 1em;
  margin-bottom: 20px;
  line-height: 2em;

}

.figurecard  footer {
  padding: 0 25px;
  color: rgb(36, 32, 32);
  font-size: 0.9em;
  line-height: 50px;
  text-align: left;
  position: absolute;
  top: 0;
  width: 100%;
  width: 100%;
  z-index: 3;
  visibility: hidden;

}



.figurecard:hover {
    background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
    background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
    background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
    opacity: 0.9;
    background-color:none;

}

.figurecard:hover figcaption {
  background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  opacity: 0.9;
  background-color:none;

}


.figurecard:hover a{
    color: white;
}

.figurecard:hover footer{
  color: white;
  visibility: visible;
}

.figurecard a:link{
    text-decoration: none;
    color:black;
}

.figurecard a:hover{
  text-decoration: none;
  color:white;
}

.headline-section{
  text-align: left;
  margin-left: 120px;
  margin-top: 100px;

}

.topStories{
  border-bottom: 1px solid black;
}


