@import url('https://fonts.googleapis.com/css?family=Lato|Monofett');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
@import url('https://fonts.googleapis.com/css?family=Bitter:700');

.content-header-reduced {
	margin-left: 350px; 
	width:50%;
	padding: 0px 10px;


}

.content-header-expanded {
	margin-left: 10px; 
	padding: 0px 10px;
}

.content-header-expanded a {
text-decoration: none;
}

.content-header-reduced  a{
	text-decoration: none;
}






.header-title {
	letter-spacing: -5px;
	font-family: 'Bitter', serif;
	color: #000000;
	font-size: 60px;;
	text-align: center;
	font-weight: 100;
	margin: 0 auto;
	text-transform: lowercase;
	padding-left: 20px;

}



.content-header-black{
	background-color: #000000;
}

.content-header-black a{
	text-decoration: none;
}

.header-title-black {

	font-family: 'Bitter', serif;
	color: white;
	font-size: 60px;;
	text-align: center;
	font-weight: 100;
	margin: 0 auto;
	text-transform: lowercase;
}
