img{
    max-width: 50%;
}

.mainUl li{
    border: black 1px solid;
}

.mainUl div{
    border: black 1px solid;
    width:80%;
    margin: 0 auto;
}

.mainUl h2{
    border: black 1px solid;
    max-width: 50%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 20px;
}
