
/* .backimage{
    background-image: 
    url(https://images.unsplash.com/photo-1527449201379-32dff30f6a33?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjM5OTI2fQ&s=20026505f26ea14448df7c26b58a5f0c);
    background-size: 1800px 2900px;;
    height: 1000px;
    filter: blur(6px) grayscale(100%);
    background-repeat: repeat-y;
    background-position: bottom;

    
} */


.backimage{
    background-image: 
    url(https://images.unsplash.com/photo-1523995462485-3d171b5c8fa9?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjM5OTI2fQ&s=b2b9f18643db1bb48cc41ab30310cce9);
    background-size: cover;

    filter: blur(8px) grayscale(100%);
    background-repeat: repeat-y;
    background-position: top;
    position: relative;
width: 100%;
height: 1067px;
left: 0px;
top: 0px;
z-index: -7;


    
}
.home{
    position: relative;
    top:0;
    width: 80%;
    max-width: 400px;
    border: 1px solid black;
    margin: 0 auto;
margin-top: -1000px;
height:600px;
background-color: rgb(0, 0, 0);   
opacity: .9; 
z-index: 100;
}


.home h2{
text-align: center;

      
}

.home a{
    position: absolute;
    width: 100%;

color: white;
text-align: center;
margin-top: 20px;
font-size:25px;

      
}

.login-form{
    color: white;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-size: 22px;
    width: 150px;
margin-top: 90px;
font-weight: 700;
}

.registration-form{

        color: white;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        font-size: 15px;
        width: 150px;
    margin-top: -40px;
 
}


.login-form input{
    color: black;
 width: 100%;
    margin: 0 auto;

    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    height: 10px;
}

.login-form button{
background: purple;
width: 100px;
height: 50px;
margin-top: 20px;
color: white;
font-size: 19px;
}


