.character-search{
box-sizing: border-box;
border-radius: 15px;
width: 100%;

margin: 0 auto;
margin-top: 20px;
margin-bottom: 100px;
position: relative;
height: 34px;
text-align: center;
z-index: 0;
}

.searchInput{
    width: 100%;
    border: none;
    height:14px;
    margin-left:0px;
    display: inline-block;

    position: relative;

    height:40px;
	border-bottom: solid 1px black;
	font-size: 15px;
	background-color: #faf7f4;
    color: black;
    margin-bottom: 20px;

}
.submitButton{

    position: relative;
    top: 0;
    display: block;
    margin-top: 5px;
    border-radius:15px;
    color:white;
    height: 50px;
    width: 150px;
    border: 1px solid black;
    border-radius:2px;
    font-size: 16px;
    background: rgb(80, 79, 79);


}

.submitButton p{
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 200;
}


.submitButton:hover{
	background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
	background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
	background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);


}