.character-search{
border: 2px solid purple;
box-sizing: border-box;
border-radius: 17px;
width: 50%;
height: 54px;
overflow: hidden;
margin: 0 auto;
margin-top: 100px;
position: relative;
height: 54px;

}

.searchInput{
    width: 100%;
    border: none;
    height:54px;
    margin-left:0px;
}
.submitButton{
    border-radius: 1px;
    border: 5px solid purple;
    vertical-align: bottom;
    position: absolute;
    top: 0;
    right: 0;
    display: inline;
    border: none;
    width: 105px;
    height: 60px;
    background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
    background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
    background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);


}

.submitButton p{
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
}


