.side-menu-expanded{
    height: 100%;
	width: 30%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 20px;
	padding:20px;
}

@media only screen and (min-width: 320px) {
	.side-menu-expanded{
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background-color: #42454d;
		overflow-x: hidden;
		padding-top: 20px;
		padding:20px;
	}
}

@media only screen and (min-width: 700px) {
	.side-menu-expanded{
		height: 100%;
		width: 30%;
		min-width: 250px;
		max-width: 300px;
		position: absolute;
		z-index: 5;
		top: 0;
		left: 0;
		background-color:  #42454d;
		overflow-x: hidden;
		padding-top: 20px;
		padding:20px;
		margin-right:50px;
	}
}