.userMenu {
	background: #181b24;
	height: 1600px;
}

.userMenu h1 {
	font-family: Monofett;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 40px;
	text-align: center;
	letter-spacing: 0.06em;
	color: #ffffff;
	width: 221px;
	height: 128px;

	margin: 0 auto;
}
