
.App {
  text-align: center;
  background: #faf7f4;
  position: relative;
}



.About-Section{
  border: color 1px cornflowerblue;
  background: purple;
  text-align: right;

}
.about-button{
  text-align: right;
  right: 0;
  top: 0;
  height:50px;
  width:100px;
  font-size:  20px;
  background: none;
  border: none;
  display: inline-block;
  color: #faf7f4;
}


.about-button:hover{

  color: black;
}



.mainsection1{
margin-left: 50px;
}



.main-section-collapsed{
  text-align: left;
  margin-left: 120px;
  margin-top: 100px;
}

.main-section-expanded{
  text-align: left;
  width:75%;
  margin-top: 100px;
  margin-left: 370px;
}


.search-section-expanded{
width:50%;
margin-left: 300px;
}

.search-section{
margin: 0 auto;
}


.burger-container {
  cursor: pointer;
  margin-top: 20px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}


.bar4, .bar5, .bar6 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;

}
 .bar4 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

 .bar5 {opacity: 0;}

.bar6 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}