
.App {
  text-align: center;
  background: #faf7f4;
  position: relative;

}

.mainsection1{
margin-left: 50px;
}



.main-section-collapsed{
  text-align: left;
  margin-left: 120px;
  margin-top: 100px;
}

.main-section-expanded{
  text-align: left;
  width:75%;
  margin-top: 100px;
  margin-left: 370px;
}


.search-section-expanded{
width:50%;
margin-left: 300px;
}

.search-section{
margin: 0 auto;
}
